/* BARRITAS */
.anuncio {
background: #febf01; /* Old browsers */
background: -moz-linear-gradient(top,  #febf01 0%, #febf01 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #febf01 0%,#febf01 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #febf01 0%,#febf01 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #febf01 0%,#febf01 100%); /* IE10+ */
background: linear-gradient(to bottom,  #febf01 0%,#febf01 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */

    
background: url(../../../images/anuncioB.png) 4px 8px no-repeat #C6FFB5;
    padding: 4px 4em;
    margin: 0.5em auto 0 auto;
    font-weight: bold;
    border: solid 1px #ddd;
}

.importante {
    background: url(../../../images/importante.png) 4px 8px no-repeat #F7F8E0;
    padding: 4px 4em;
    margin: 0.5em auto 0 auto;
    border: solid 1px #ddd;
    font-weight: bold;
}

.premios {
    background: url(../../../images/premios.png) 4px 8px no-repeat #ECF8E0;
    padding: 4px 4em;
    margin: 0.5em auto 0 auto;
    border: solid 1px #ddd;
    font-weight: bold;
}

body {
	background: #fff url(../../../images/blockblue/background.gif);
	color: #000;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;
	line-height: 1.4;
        margin: 0;
}

a:link {
	color: #1b94c3;
	text-decoration: none;
}

a:visited {
	color: #1b94c3;
	text-decoration: none;
}

a:hover, a:active {
	color: #3b3b3b;
	text-decoration: underline;
}

#container {
	width: 95%;
	color: #000000;
	margin: auto auto;
	text-align: left; /* IE 5 fix */
        clear: both;
}

#content {
	/* FIX: Make internet explorer wrap correctly */
	width: auto !important;
        background: #F7F7F7;
        border: 10px solid #EDEDED;
        padding: 20px;
}

.menu {
	color: #000000;
	padding: 4px;
        background: #3b3b3b;
        padding: 39px 10px;
        margin: 21px 0 0;
	list-style: none;	
}

.menu ul {
        margin: 0 0 0 20px;
        padding: 0 0 20px;
        list-style: none;
}

.menu li {
	display: inline;
}

.menu ul a:link {
	color: #000000;
	text-decoration: none;
}

.menu ul a:visited {
	color: #000000;
	text-decoration: none;
}

.menu ul a:hover, .menu ul a:active {
	color: #4874a3;
	text-decoration: none;
}

.menu .search a, 
.menu .memberlist a, 
.menu .calendar a,
.menu .help a {
	float: left;
        text-indent: -99999px;
        margin-right: 35px;
}

.menu .search a {
	background: url(../../../images/blockblue/toplinks/search.gif);
        height: 47px;
        width: 58px;
        margin-top: -13px;
}

.menu .search a:hover {
	background: url(../../../images/blockblue/toplinks/search.gif) 0 46px;
}

.menu .memberlist a {
	background: url(../../../images/blockblue/toplinks/memberlist.gif);
        height: 47px;
        width: 101px;
        margin-top: -14px;
}

.menu .memberlist a:hover {
	background: url(../../../images/blockblue/toplinks/memberlist.gif) 0 47px;
}

.menu .calendar a {
	background: url(../../../images/blockblue/toplinks/calendar.gif);
        height: 48px;
        width: 80px;
        margin-top: -15px;
}

.menu .calendar a:hover {
	background: url(../../../images/blockblue/toplinks/calendar.gif) 0 48px;
}

.menu .help a {
	background: url(../../../images/blockblue/toplinks/help.gif);
        height: 46px;
        width: 37px;
        margin-top: -13px;
}

.menu .help a:hover {
	background: url(../../../images/blockblue/toplinks/help.gif) 0 46px;
}

.logo {
	margin: 48px 0;
        float: left;
}


#search {
        float: right;
        margin-top: 64px;
}

#search_box {
        border: 3px solid #e9e9e9;
        font-size: 18px;
        padding: 9px 10px;
        margin-right: 10px;
}

#search_button {
        background: #3b3b3b;
        border: 3px solid #3b3b3b;
        font-size: 18px;
        padding: 9px 10px 8px 10px;
        color: #fff;
        font-family: 'Droid Sans', Verdana, Arial, Sans-Serif;
}

#search_button:hover {
        cursor: pointer;
        background: #1b94c3;
        border: 3px solid #1b94c3;
}

#panel {
	color: #fff;
	font-size: 11px;
        float: right;
        text-align: right;
        margin-top: -46px;
        font-family: Verdana;
        margin-right: 20px;
}

#panel .username {
	font-size: 24px;
}

#panel a {
        color: #77d9ff;
}

#panel .cplinks {
        padding-bottom: 5px;
}

#panel .cplinks a {
        padding: 5px;
        font-weight: bold;
}

#panel a.logout {
        padding-right: 0;
}

#panel .remember_me input {
	vertical-align: middle;
	margin-top: -1px;
}

#panel .guest {
        line-height: 70px;
        font-size: 18px;
        font-family: 'Droid Sans', Verdana, Arial, sans-serif;
        margin: 0;
        padding: 0;
}

#login .namebox, #login .passbox {
	background: #fff;
        border: 3px solid #e4e4e4;
        font-family: 'Droid Sans', Verdana, Arial, sans-serif;
        font-size: 16px;
        padding: 11px 10px;
        margin: 12px 0 13px 0;
        width: 70%;
}

#login .namelabel, #login .passlabel {
	font-size: 16px;
        text-transform: uppercase;
        margin: 0 11px 0 0;
        font-weight: bold;
}

#login .passlabel {
	margin: 0 12px 0 0;
}

#login .submit, a.register:link, a.register:visited, a.register:active {
	background: #1b94c3;
        border: none;
        padding: 8px 40px;
        font-size: 24px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 20px;
        float: left;
}

a.register:link, a.register:visited, a.register:active {
	background: #b9b9b9;
        float: right;
        line-height: 1.25;
        margin: 20px 9px 0 0;
}

#login .submit:hover, a.register:hover {
	cursor: pointer;
        text-decoration: none;
        background: #3b3b3b;
}

table {
	color: #000000;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

.tborder {
	background: #dfdfdf;
	width: 100%;
	margin: auto auto;
}

.thead {
	background: #54AFE3;
	color: #ffffff;
        height: 37px;
}

.thead a:link {
	color: #ffffff;
	text-decoration: none;
}

.thead a:visited {
	color: #ffffff;
	text-decoration: none;
}

.thead a:hover, .thead a:active {
	color: #ffffff;
	text-decoration: underline;
}

.tcat {
	background: #dcdcdc;
	color: #000;
	font-size: 12px;
}

.tcat a:link {
	color: #000000;
}

.tcat a:visited {
	color: #676767;
}

.tcat a:hover, .tcat a:active {
	color: #000000;
}

.trow1 {
	background: #f5f5f5;
}

.trow2 {
	background: #FFFFFF;
}

.trow_shaded {
	background: #FFDDE0;
}

.trow_selected td {
	background: #eaeaea;
}

.trow_selected .tcat {
	background: #aaa;
}

.trow_sep {
	background: #e5e5e5;
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

.tfoot {
	background: #54AFE3;
	color: #ffffff;
}

.tfoot a:link {
	color: #ffffff;
	text-decoration: none;
}

.tfoot a:visited {
	color: #ffffff;
	text-decoration: none;
}

.tfoot a:hover, .tfoot a:active {
	color: #ffffff;
	text-decoration: underline;
}

.bottommenu {
	background: #F7F7F7;
	color: #000000;
	border: 5px solid #e7e7e7;
	padding: 10px;
        margin: 20px 0 0;
}

#lang_select {
	margin-top: -7px;
}

.navigation {
	background: #F7F7F7;
	color: #000000;
        clear: both;
	font-size: 13px;
	font-weight: bold;
	border: 5px solid #e7e7e7;
	padding: 10px;
}

.navigation a:link {
	text-decoration: none;
}

.navigation a:visited {
	text-decoration: none;
}

.navigation a:hover, .navigation a:active {
	text-decoration: none;
}

.navigation .active {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
}

.smalltext {
	font-size: 11px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

input.textbox {
	background: #ffffff;
	color: #000000;
	border: 2px solid #dedede;
        padding: 3px;
}

textarea {
	background: #ffffff;
	color: #000000;
	border: 2px solid #dedede;
        padding: 3px;
	font-family: Verdana, Arial, Sans-Serif;
	line-height: 1.4;
	font-size: 13px;
}

select {
	background: #ffffff;
	border: 2px solid #dedede;
        padding: 3px;
}

.button {
	background: #1B94C3;
	border: 0;
	color: #fff;
	padding: 5px 10px;
}

.button:hover {
	background: #3b3b3b;
        cursor: pointer;
}

.thead .button, .tfoot .button {
	background: #efefef;
	border: 2px solid #dedede;
	color: #3b3b3b;
	padding: 3px 7px;
}

.thead .button:hover, .tfoot .button:hover {
	background: #e9e9e9;
        cursor: pointer;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #fff;
	border: 2px solid #dedede;
}

.autocomplete {
	background: #fff;
	border: 1px solid #000;
	color: black;
}

.autocomplete_selected {
	background: #adcee7;
	color: #000;
}

.popup_menu {
	background: #ccc;
	border: 1px solid #000;
}

.popup_menu .popup_item {
	background: #fff;
	color: #000;
}

.popup_menu .popup_item:hover {
	background: #C7DBEE;
	color: #000;
}

.trow_reputation_positive {
	background: #ccffcc;
}

.trow_reputation_negative {
	background: #ffcccc;
}

.reputation_positive {
	color: green;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: red;
}

.invalid_field {
	border: 1px solid #f30;
	color: #f30;
}

.valid_field {
	border: 1px solid #0c0;
}

.validation_error {
	background: url(../../../images/invalid.gif) no-repeat center left;
	color: #f30;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_success {
	background: url(../../../images/valid.gif) no-repeat center left;
	color: #00b200;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_loading {
	background: url(../../../images/spinner.gif) no-repeat center left;
	color: #555;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

/* Additional CSS (Master) */
img {
	border: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background-color: #FFFBD9;
	font-weight: bold;
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

#panel .links {
	margin: 0;
	float: right;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #000000;
	color: #000000;
	height: 1px;
	border: 0px;
}

#copyright {
	font: 11px Verdana, Arial, Sans-Serif;
        background: #3b3b3b;
        padding: 20px 10px;
        margin: 50px 0 38px;
        color: #fff;
}

#copyright a {
	color: #77d9ff;
}

.poweredby {
	margin: 13px 0 0;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 0;
}

blockquote {
	border: 1px solid #ccc;
	margin: 0;
	background: #E8E8E8;
	padding: 4px;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	font-style: normal;
	display: block;
	margin: 4px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
}

.codeblock .title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin: 4px 0;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 13px;
}

.subforumicon {
	border: 0;
	vertical-align: middle;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

form {
	margin: 0;
	padding: 0;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 3px;
	text-decoration: none;
	white-space: nowrap;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}

.autocomplete {
	text-align: left;
}

.subject_new {
	font-weight: bold;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
	background: #FFF6BF;
	border: 1px solid #FFD324;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
}

.red_alert {
	background: #FBE3E4;
	border: 1px solid #A5161A;
	color: #A5161A;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
}

.high_warning {
	color: #CC0000;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

div.error {
	padding: 5px 10px;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	background: #FFF6BF;
	font-size: 12px;
}

div.error p {
	margin: 0;
	color: #000;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
	color: #C00;
	background: url(../../../images/error.gif) no-repeat 0;
}

div.error.ul {
	margin-left: 24px;
}

.online {
	color: #15A018;
}

.offline {
	color: #C7C7C7;
}

.pagination {
	font-size: 11px;
	padding-top: 10px;
	margin-bottom: 5px;
}

.tfoot .pagination, .tcat .pagination {
	padding-top: 0;
}
.pagination .pages {
	font-weight: bold;
}

.pagination .pagination_current, .pagination a {
	padding: 5px 10px;
	margin-bottom: 3px;
}

.pagination a {
	border: 2px solid #e5e5e5;
        color: #3b3b3b;
        background: #fff;
}

.pagination .pagination_current {
	background: #1b94c3;
	border: 2px solid #1b94c3;
	font-weight: bold;
	color: #fff;
}

.pagination a:hover {
	background: #1b94c3;
	text-decoration: none;
        border: 2px solid #1b94c3;
        color: #fff;
}

.thread_legend, .thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.forum_legend, .forum_legend dt, .forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.success_message {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message {
	color: #C00;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.post_body {
	padding: 5px;
}

.post_content {
	padding: 5px 10px;
}

.quick_jump {
	background: url(../../../images/jump.gif) no-repeat 0;
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	vertical-align: middle;
	border: none;
}

.repbox {
	font-size:16px;
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

._neutral {
	background-color:#FAFAFA;
	color: #999999;
	border:1px solid #CCCCCC;
}

._minus {
	background-color: #FDD2D1;
	color: #CB0200;
	border:1px solid #980201;
}

._plus {
	background-color:#E8FCDC;
	color: #008800;
	border:1px solid #008800;
}

.pagination_breadcrumb {
	background-color: #f5f5f5;
	border: 1px solid #fff;
	outline: 1px solid #ccc;
	padding: 5px;
	margin-top: 5px;
	font-weight: normal;
}

.pagination_breadcrumb_link {
	vertical-align: middle;
	cursor: pointer;
}

.author_buttons, .post_management_buttons {
	padding-top: 5px;
}	
		